#div0 {
    background-color: #318ce7;
    width: 150px;
    height: 150px;
}

#div1 {
    background-color: #318ce7;
    width: 150px;
    height: 150px;
    margin-left: -200px;
}

#top {
    height: 200px;
    background: red;
    width: 100%;
}

.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#page {
    height: 5000px;
    background: yellow;
    width: 100%;
}